ADDONBUILDER=C:\Program Files (x86)\Steam\steamapps\common\Arma 3 Tools\AddonBuilder\AddonBuilder.exe
SOURCE=C:\Arma3Modding\ZeusJukebox
DEST=C:\Arma3Modding\exports\ZeusJukebox.pbo
PRIVATEKEY=C:\Arma3Modding\keys\YourName_ZeusJukebox.biprivatekey
TEMPDIR=C:\Users\YourName\AppData\Local\Temp
PROJECTDIR=C:\Arma3Modding
EXCLUDELIST=C:\Program Files (x86)\Steam\steamapps\common\Arma 3 Tools\FileBank\exclude.lst
EXPORTDIR=C:\Arma3Modding\exports
DEPLOYDIR=C:\Arma3Modding\local mods\@Zeus Jukebox\addons
